/*=================================================================*/
/*                      SKILLS                              
/*=================================================================*/
.skill-item .skill-info h4 {
  font-size: 15px;
  font-weight: 300;
}
.skill-item .skill-info span {
  font-size: $font-size-smaller;
}